<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 bg-primary">
          <div>
            <div class="float-left">
              <h1 class="mb-0 modal-title" style="color: white;">Tất cả chi nhánh</h1>
            </div>
            <div class="float-md-right d-inline-block">
              <form>
                <div class="input-group md-form form-sm form-2 pl-0">
                  <input class="form-control " ng-model="searchInput" type="text" placeholder="Search"
                    aria-label="Search">
                </div>
              </form>
            </div>
          </div>
          <div class="float-md-right mb-3 mr-3">
            <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#modalAddMaterials"><i
                class="fas fa-plus-circle"></i> Thêm Mới</button>
            <div class="modal fade" id="modalAddMaterials" tabindex="-1" role="dialog" aria-labelledby="modalAddMaterials"
              aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                  <div class="modal-header bg-primary">
                    <h2 class="modal-title" id="modalAddMaterials" style="color: white;">Thêm chi nhánh
                    </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                          aria-controls="home" aria-selected="true">Thông Tin</a>
                      </li>
  
                    </ul>
                    <div class="card-body border">
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
                          <form ng-submit="addResources()" name="formAddMaterial">
                            <div class="container">
                              <div class="row">
                                <div class="col-6">
                                  <div class="form-group row">
                                    <label for="input1" class="col-sm-4 col-form-label form-control-sm">Tên chi nhánh</label>
                                    <div class="col-sm-7">
                                      <input name="resourcesNo" ng-model="resourcesNo" type="text"
                                        class="form-control form-control-sm" id="input1" required>
                                      <span style="font-size:10px;color:red;"
                                        ng-if="formAddMaterial.resourcesNo.$invalid && formAddMaterial.resourcesNo.$touched">Không
                                        được để trống mã nguyên liệu</span>
                                    </div>
                                  </div>
  
                                  <div class="form-group row">
                                    <label for="inputName" class="col-sm-4 col-form-label form-control-sm">Địa chỉ:</label>
                                    <div class="col-sm-7">
                                      <input name="inputName" ng-model="inputName" type="text"
                                        class="form-control form-control-sm" id="inputName" placeholder=" " required>
                                      <span style="font-size:10px;color:red;"
                                        ng-if="formAddMaterial.inputName.$invalid && formAddMaterial.inputName.$touched">Không
                                        được để trống tên nguyên liệu</span>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="inputName" class="col-sm-4 col-form-label form-control-sm">Địa chỉ:</label>
                                    <div class="col-sm-7">
                                      <input name="inputName" ng-model="inputName" type="text"
                                        class="form-control form-control-sm" id="inputName" placeholder=" " required>
                                      <span style="font-size:10px;color:red;"
                                        ng-if="formAddMaterial.inputName.$invalid && formAddMaterial.inputName.$touched">Không
                                        được để trống tên nguyên liệu</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-right mt-3">
                              <button type="submit" class="btn btn-danger">Lưu & thêm mới</button>
                              <button type="button" ng-click="test()" class="btn btn-secondary"
                                data-dismiss="modal">Đóng</button>
                            </div>
                          </form>
                        </div>
                        <div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="profile-tab">
  
                        </div>
                        <div class="tab-pane fade" id="detailDescription" role="tabpanel" aria-labelledby="contact-tab">
                          ...
                        </div>
                        <div class="tab-pane fade" id="moreDishs" role="tabpanel" aria-labelledby="contact-tab">...</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table  align-items-center table-flush accordion table-hover" id="accordionRow">
            <thead class="thead-light">
              <tr>
                <th scope="col">Stt</th>
                <th scope="col">Tên chi nhánh</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody >
              <tr class="clickable table-striped"
                aria-expanded="true" ng-click="getResourcesIndex(x)">
                <td>
                  1
                </td>
                <td>
                    NHÀ HÀNG DÌN KÝ CỘNG HÒA
                </td>
                <td>
                    142/18 Cộng Hòa, Phường 4, Quận Tân Bình, Tp. HCM
                </td>
                <td ng-model="resourcesTypeId">
                  <span class="badge badge-dot">
                    098 654 43 54
                  </span>
                </td>
                <td>
                  <span class="mr-2">dinkycenter@dinky.com.vn</span>
                </td>
                
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#!tables" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="clickable table-striped"
                aria-expanded="true" ng-click="getResourcesIndex(x)">
                <td>
                  2
                </td>
                <td>
                    DU LỊCH XANH DÌN KÝ CỔNG CHÀO BÌNH DƯƠNG
                </td>
                <td>
                    8/15 Ấp Đông, Vĩnh Phú, Thuận An, Bình Dương
                </td>
                <td ng-model="resourcesTypeId">
                  <span class="badge badge-dot">
                    (0274) 375 5480
                  </span>
                </td>
                <td>
                  <span class="mr-2">laithieu@dinky.com.vn</span>
                </td>
                
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#!tables" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="clickable table-striped"
                aria-expanded="true" ng-click="getResourcesIndex(x)">
                <td>
                  3
                </td>
                <td>
                    NHÀ HÀNG 24/7 DÌN KÝ NGUYỄN TRÃI
                </td>
                <td>
                    137C Nguyễn Trãi, Phường Bến Thành, Quận 1, Tp. Hồ Chí Minh
                </td>
                <td ng-model="resourcesTypeId">
                  <span class="badge badge-dot">
                    1900 636 025
                  </span>
                </td>
                <td>
                  <span class="mr-2">nguyentrai@dinky.com.vn</span>
                </td>
                
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" target="_seft" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
          <dir-pagination-controls boundary-links="true" direction-links="true">
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
  